<%- include('header') -%>
<div>
    <h2>Happy</h2>
    <p>
        Happy is a teacher and doing his job for the last 6 years and he is teaching Advanced Mathematics and he is realy good at his job.
    </p>
</div>
</body>
</html>