<html>
<head>
    <title>Lab 3</title>
    <!-- 
        Student name: Navdeep Kaur
        Student Id: 200488890
     -->
</head>
<body>
    <nav>
        <div> 
            <h1>Family Members</h1>
            <a href="/navdeep">Navdeep</a>
            <a href="/happy">Happy</a>
            <a href="/karen">Karen</a>
            <a href="/matt">Matt</a>
        </div>
    </nav>