<%- include('header') -%>
<div>
    <h2>Karen</h2>
    <p>
        Karen is freelancer and she does content writing. She is mostly doing her projects and helping her family. 
    </p>
</div>
</body>
</html>