<%- include('header') -%>
<div>
    <h2>Matt</h2>
    <p>
        Matt is in Indian Army and we are very proud of him him. He is serving from the last 8 years and we get to see him very rarely.
    </p>
</div>
</body>
</html>