<%- include('header') -%>
<div>
    <h2>Navdeep</h2>
    <p>
        Navdeep is a student in Georgian colege and studying about the web developmentand javascript frameworks.
    </p>
</div>
</body>
</html>